src/main/resources/schema/windows/CustomerCdmTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.intuit.com/sb/cdm/v2"
	targetNamespace="http://www.intuit.com/sb/cdm/v2" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:include schemaLocation="PartyCdmTypes.xsd"/>
	<xs:include schemaLocation="Groups.xsd"/>
	<xs:include schemaLocation="IntuitCdmBaseTypes.xsd"/>
	<!-- Element definitions -->
	<!-- Party element definition -->
	<xs:element name="Person" type="Person"/>
	<xs:element name="Organization" type="Organization"/>
	<xs:element name="Persons" type="Persons"/>
	<xs:element name="Organizations" type="Organizations"/>
	<xs:element name="Party" type="Party"/>
	<xs:element name="Parties" type="Parties"/>
	<!-- Role element definition -->
	<xs:element name="Customer" type="Customer" substitutionGroup="CdmObject"/>
	<xs:element name="CustomerType" type="CustomerType" substitutionGroup="CdmObject"/>
	<xs:element name="Employee" type="Employee" substitutionGroup="CdmObject"/>
	<xs:element name="JobType" type="JobType" substitutionGroup="CdmObject"/>
	<xs:element name="OtherName" type="OtherName" substitutionGroup="CdmObject"/>
	<xs:element name="Vendor" type="Vendor" substitutionGroup="CdmObject"/>
	<xs:element name="VendorType" type="VendorType" substitutionGroup="CdmObject"/>
	<!--Start complex type definitions -->
	<xs:complexType name="Customer">
		<xs:annotation>
			<xs:documentation> 
			Product: QBO
			Description: The Customer represents the consumer of the service or the product that your business offers. QBO allows categorizing the customers in a way that is meaningful to the business. For example, you can set up a category of customers to indicate which industry a customer represents, the geographic location of a customer, or how a customer came to know about the business. The categorization can be then used for reports or mails.
			Endpoint: qbo.intuit.com
			Business Rules: [li]The customer name must be unique.[/li][li]The customer name must not contain a colon (:).[/li][li]The e-mail address of the customer must contain @ and . (dot).[/li][li]The customer address field is mandatory.[/li]			
			Product: QBW
			Description: A customer is a consumer of the service or product that your business offers. The Customer object allows you to categorize customers according to your business requirements. For example, you can create a category of customers to indicate the industry that a customer represents, the geographic location of a customer, or the awareness of the business. Categorization of customers is useful for reports. While creating a customer, avoid entering any job data. If you enter a job data, the system can prevent you from adding any more jobs for that customer. You must first create a customer, and then create a job using that customer as a parent.
			Endpoint: services.intuit.com
			Business Rules: [li]The customer name must be unique.[/li][li]The customer name must not contain a colon (:).[/li][li]The e-mail address of the customer must contain @ and . (dot).[/li][li]The customer address field is mandatory.[/li]			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RoleBase">
				<xs:sequence>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: QBW 
							Description: Active Customer may be hidden from most display purposes
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowAs" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: QBW 
							Description: Specifies how the name of the customer should be presented e.g. on credit cards. Cloud Max Length: 256 [br/] Max Length: 41. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="CustomerTypeReferenceGroup" minOccurs="0"/>
					<xs:group ref="SalesTermReferenceGroup" minOccurs="0"/>
					<xs:group ref="SalesRepReferenceGroup" minOccurs="0"/>
					<xs:group ref="SalesTaxCodeReferenceGroup" minOccurs="0"/>
					<xs:group ref="TaxChoiceGroup" minOccurs="0"/>
					<xs:group ref="PaymentMethodReferenceGroup" minOccurs="0"/>
					<xs:group ref="PriceLevelReferenceGroup" minOccurs="0"/>
					<xs:element name="OpenBalance" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Query-able: QBW
							Description: Specifies the open balance amount (unpaid amount by customer). For the Add request it represents the Open Balance for the customer. When returned in response to the Query request it represents the Current Open Balance (unpaid amount) of that customer.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpenBalanceDate" type="IDSDate" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 							
							Description: Specifies the date of the Open Balance for the Add request.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpenBalanceWithJobs" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Query-able: QBW
							Description: Specifies the cumulative open balance amount for the current customer (or Job) and all its sub-jobs. Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditLimit" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the maximum amount of an unpaid customer balance.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcctNum" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Name or number of the account associated with this customer. Cloud Max Length: 1024  [br/]. Max Length: 99
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OverDueBalance" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the over due balance amount. Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalRevenue" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the total revenue amount. Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalExpense" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the total expense amount. Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobInfo" type="JobInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Information about the job. Relevant only if the Customer is not just a person or organization, but also represents the actual task or project.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomerType">
		<xs:annotation>
			<xs:documentation>
			Product: QBW 
			Description: Customer types allow categorizing customers in ways that are meaningful to the business. For example, one could set up customer types so that they indicate which industry a customer represents, a customer's geographic location, or how a customer first heard about the business. The categorization then can be used for reporting or mailings.			
			Endpoint: services.intuit.com
			Business Rules: None			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Query-able: QBW
							Description: User recognizable name for the Customer Type. Cloud Max Length: 1024. [br/]. Required for the Add request.. Max Length: 31
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="CustomerTypeParentReferenceGroup" minOccurs="0"/>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Whether or not active inactive customer types may be hidden from most display purposes and may not be used on financial transactions
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Employee">
		<xs:annotation>
			<xs:documentation> 			
			Product: QBW
			Description: Employee represents the persons who are working for your organization. In QBO, the Employee resource is available as a read-only resource. That is, only retrieve and simple query operations are supported for this resource.
			Endpoint: services.intuit.com
			Business Rules: [li]The employee name must be unique.[/li][li]The employee name, first name, or last name must not contain a colon (:).[/li][li]The name, first name or last name field should not be blank.[/li][li]The e-mail, phone, and address fields are mandatory.[/li][li]The e-mail address of the employee must contain @ and . (dot).[/li][li]The value for the EmployeeType element must be either of the following: Officer, Owner, Regular, or Statutory.[/li][li]The value for the DeviceType element must be either of the following: Landline, Mobile, Fax, or Pager.[/li]			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RoleBase">
				<xs:sequence>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Active Employee may be hidden from most display purposes
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowAs" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies how the name of the employee should be presented e.g. on paychecks. Cloud Max Length: 256 [br/]. Max Length: 41
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EmployeeType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the Employee type. For QB DT the acceptable values are defined in the EmployeeTypeEnum.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EmployeeNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the number of the employee (or account) in the employer's directory. Cloud Max Length: 256 [br/].Max Length: 99. Unsupported field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BillableTime" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: BillableTime should be true if this employee&apos;s hours are typically billed to customers. [br/] Unsupported field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HiredDate" type="IDSDate" minOccurs="0"/>
					<xs:element name="ReleasedDate" type="IDSDate" minOccurs="0"/>
					<xs:element minOccurs="0" name="UseTimeEntry"
						type="TimeEntryUsedForPaychecksEnum">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies whether the Time Entry (time sheets) should be used to create paychecks for the employee.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JobInfo">
		<xs:sequence>
			<xs:element name="Status" type="JobStatusEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: ALL
					Description: current status of the job. The acceptable values are defined in the JobStatusEnum.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="IDSDate" minOccurs="0"/>
			<xs:element name="ProjectedEndDate" type="IDSDate" minOccurs="0"/>
			<xs:element name="EndDate" type="IDSDate" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Product: QBW
						Description: Cloud Max Length: 4000 [br/] Max Length: 99
						Default-Field: QBW
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="JobTypeReferenceGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobType">
		<xs:annotation>
			<xs:documentation>
			Product: QBW 
			Description: Job types allow categorizing jobs so that similar jobs can be grouped and subtotaled on reports. Ultimately, they will help in determining which jobs are most profitable for the business.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Query-able: QBW
							Description: User recognizable name for the Job Type. Cloud Max Length: 1024 [br/] Required for the Add request. Max Length: 31
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="JobTypeParentReferenceGroup" minOccurs="0"/>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Whether or not active inactive job types may be hidden from most display purposes and may not be used on financial transactions
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Label">
		<xs:annotation>
			<xs:documentation> 
			Product: ALL
			Description: Post-it tag like usage on any of the entities, normally LabelType is used with a list. Unsupported type.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="IdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: ALL
					Description: Specifies the Unique Identifier for an Intuit Object
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: ALL
					Description: Specifies some text that will be added as a short post it notes tag to the entity 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Note">
		<xs:annotation>
			<xs:documentation> 
			Product: ALL
			Description: Specifies free text information that can be associated with a CDM type 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="Content" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Specifies the free form text content.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Organizations">
		<xs:sequence>
			<xs:element name="Organization" type="Organization" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherName">
		<xs:annotation>
			<xs:documentation> 
			Product: QBW
			Description: The OtherName object represents a person or a company that is not your customer, vendor, or employee. For example, you can use OtherName object to represent owners or partners.
			Endpoint: services.intuit.com
			Business Rules: None			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RoleBase">
				<xs:sequence>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Active Customer may be hidden from most display purposes
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcctNum" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Name or number of the account associated with this other name (payee). Cloud Max Length: 1024 [br/] Max Length: 41.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Specifies the base Party that describes the party model. Unsupported type.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:group ref="PartyGroup"/>
					<xs:element name="Role" type="roleType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Specifies the association relation between Party CDM and other types. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomField" type="CustomField" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Specifies the custom fields for which CustomFieldDefinition was previously associated with Party.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Parties">
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="CustomFieldDefinition" type="CustomFieldDefinition"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the custom field definitions for which CustomField was previously associated 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Party" type="Party" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the Parties  
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Persons">
		<xs:sequence>
			<xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoleBase">
		<xs:annotation>
			<xs:documentation> 
			Product: QBW 
			Description: Describes Role of a Party. Generally the role can be Customer, Vendor, Employee, Other Name.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="PartyReferenceId" type="IdType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Default-Field: QBW	
							Description: Specifies reference to Party UniqueId, need to be specified when Party elements can be referenced 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="PartyGroup">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Substitutes PartyGroup elements to enable reuse, all the elements appear to be defined locally 
							</xs:documentation>
						</xs:annotation>
					</xs:group>
					<xs:group ref="PersonGroup">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Substitutes PersonGroup elements to enable reuse, all the elements appear to be defined locally 
							</xs:documentation>
						</xs:annotation>
					</xs:group>
					<xs:group ref="OrganizationGroup">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Substitutes OrganizationGroup elements to enable reuse, all the elements appear to be defined locally 
							</xs:documentation>
						</xs:annotation>
					</xs:group>
					<xs:element name="TaxIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the Tax ID of the Person or Organization 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="Note" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the free form text content. Cloud Max Length: 4000 .[br/] Only one note (the first one) is used when writing the data back to QuickBooks. Max Length: 4000. Write-Only field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Vendor">
		<xs:annotation>
			<xs:documentation> 
			Product: QBO
			Description: The Vendor represents the buyer from whom you purchase any service or product for your organization.
			Endpoint: qbo.intuit.com
			Business Rules: [li]The vendor name must be unique.[/li][li]The name, first name, and last name of the vendor must not contain a colon (:).[/li][li]The name, first name, or last name field should not be blank.[/li][li]The e-mail, phone, and address fields are mandatory.[/li][li]The e-mail address of the vendor must contain @ and . (dot).[/li]			
			Product: QBW
			Description: You can use the Vendor object to store information about the people and companies you do business with. A vendor is an individual or an organization that provides goods and services to a customer. For example, banks and tax agencies.
			Endpoint: services.intuit.com
			Business Rules: [li]The vendor name must be unique.[/li][li]The name, first name, and last name of the vendor must not contain a colon (:).[/li][li]The name, first name, or last name field should not be blank.[/li][li]The e-mail, phone, and address fields are mandatory.[/li][li]The e-mail address of the vendor must contain @ and . (dot).[/li]			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RoleBase">
				<xs:sequence>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Active Vendor may be hidden from most display purposes
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowAs" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: Specifies how the name of the vendor should be presented e.g. on checks.
                Product: QBW
                Description: Specifies how the name of the vendor should be presented e.g. on checks. Cloud Max Length: 256. Max Length: 41
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="VendorTypeReferenceGroup" minOccurs="0"/>
					<xs:group ref="SalesTermReferenceGroup" minOccurs="0"/>
					<xs:element name="OpenBalance" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: Specifies the open balance amount (unpaid amount the business owes to the vendor).
                Product: QBW
                Description: Specifies the open balance amount (unpaid amount the business owes to the vendor). Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpenBalanceDate" type="IDSDate" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the date of the Open Balance. Non QB-writable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreditLimit" type="Money" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Specifies the maximum amount of an unpaid vendor balance.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcctNum" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBW
                Description: Name or number of the account associated with this vendor. Cloud Max Length: 1024. [br/]. Max Length: 41
                Product: QBO
				Query-able: QBO
                Description: Name or number of the account associated with this vendor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Vendor1099" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: The Vendor is an independent contractor, someone who is given a 1099-MISC form at the end of the year. The &quot;1099 Vendor&quot; is paid with regular checks, and taxes are not withhold on their behalf.
</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VendorType">
		<xs:annotation>
			<xs:documentation>
			Product: QBW
			Description: Vendor types allow categorizing vendors in ways that are meaningful to the business. For example, one could set up vendor types so that they indicate a vendor&apos;s industry or geographic location. The categorization then can be used for reporting. You can also create a vendor type as a subtype of another vendor type.
			Endpoint: services.intuit.com
			Business Rules: None			
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: User recognizable name for the Vendor Type. Cloud Max Length: 1024 [br/] Required for the Add request. Max Length: 31
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="VendorTypeParentReferenceGroup" minOccurs="0"/>
					<xs:element name="Active" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBW 
							Description: Whether or not active inactive customer types may be hidden from most display purposes and may not be used on financial transactions
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Simple type definitions -->
	<xs:simpleType name="EmployeeTypeEnum">
		<xs:annotation>
			<xs:documentation>
			Product: QBW
			Description: Employee type enumeration
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Officer"/>
			<xs:enumeration value="Owner"/>
			<xs:enumeration value="Regular"/>
			<xs:enumeration value="Statutory"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JobStatusEnum">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Job status enumeration
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Awarded"/>
			<xs:enumeration value="Closed"/>
			<xs:enumeration value="InProgress"/>
			<xs:enumeration value="None"/>
			<xs:enumeration value="NotAwarded"/>
			<xs:enumeration value="Pending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyType">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Party type enumeration, can be a Person or Organization 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Person"/>
			<xs:enumeration value="Organization"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeEntryUsedForPaychecksEnum">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Job status enumeration
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NotSet"/>
			<xs:enumeration value="DoNotUseTimeEntry"/>
			<xs:enumeration value="UseTimeEntry"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Groups definitions -->
	<xs:group name="CustomerParentReferenceGroup">
		<xs:sequence>
			<xs:element name="CustomerParentId" type="IdType" minOccurs="0"/>
			<xs:element name="CustomerParentName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024. [br/]. Max Length: 41
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="CustomerTypeParentReferenceGroup">
		<xs:sequence>
			<xs:element name="CustomerTypeParentId" type="IdType" minOccurs="0"/>
			<xs:element name="CustomerTypeParentName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024. [br/]. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="CustomerTypeReferenceGroup">
		<xs:sequence>
			<xs:element name="CustomerTypeId" type="IdType" minOccurs="0"/>
			<xs:element name="CustomerTypeName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="JobTypeParentReferenceGroup">
		<xs:sequence>
			<xs:element name="JobTypeParentId" type="IdType" minOccurs="0">
			<xs:annotation>
					<xs:documentation>					
					Default-Field: QBW
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="JobTypeParentName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Default-Field: QBW
					Description: Cloud Max Length: 1024. [br/]. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="JobTypeReferenceGroup">
		<xs:sequence>
			<xs:element name="JobTypeId" type="IdType" minOccurs="0"/>
			<xs:element name="JobTypeName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024. [br/]. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="PartyGroup">
		<xs:annotation>
			<xs:documentation> 
			Product: QBW 
			Description: Describes PartyGroup elements as a &quot;group&quot; so that PartyGroup can be substituted in places where all elements of Party need to appear 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeOf" type="partyType">
				<xs:annotation>
					<xs:documentation>
					Product: QBW
					Default-Field: QBW					
					Description: Specifies the type of party, this is very useful if a list of &quot;parties&quot; are returned and this element can specify the type of Party without having to look at extended elements. [br/]. Required for the Add request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Query-able: QBO, QBW
					Description: Specifies the Name assigned by the CMO subsystem, it is input only element. Cloud Max Length: 1024. [br/]. Required for the Add request.[br/]. Max Length: 41
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="ContactInfoGroup"/>
			<xs:element name="ExternalId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Specifies the ExternalID associated with the Person. Unsupported field.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="VendorTypeParentReferenceGroup">
		<xs:sequence>
			<xs:element name="VendorTypeParentId" type="IdType" minOccurs="0"/>
			<xs:element name="VendorTypeParentName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024. [br/]. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="VendorTypeReferenceGroup">
		<xs:sequence>
			<xs:element name="VendorTypeId" type="IdType" minOccurs="0"/>
			<xs:element name="VendorTypeName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Cloud Max Length: 1024.[br/]. Max Length: 31
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
</xs:schema>
