windows/src/main/resources/schema/windows/CompanyMetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.intuit.com/sb/cdm/v2" targetNamespace="http://www.intuit.com/sb/cdm/v2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="IntuitCdmBaseTypes.xsd"/>
	<xs:element name="CompanyMetaData" type="CompanyMetaData" substitutionGroup="CdmObject">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: See CompanyMetaData complexType
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- ============================================================================== -->
	<!--Complex Types definitions-->
	<!-- ============================================================================== -->
	<xs:complexType name="Offering">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: definition of one or many offerings associated with each company
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OfferingId" type="offeringId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Required offering id
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfferingName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
            Product: QBO
            Description: Offering name
            Product: QBW
            Description: Offering name. Cloud Max Length: 512
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivationDate" type="IDSDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Offering activation date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrialExpiryDate" type="IDSDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Offering trial expiration date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelationDate" type="IDSDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Offering cancel date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Seats" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Offering licensed seats allowed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeatType" type="seatType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Offering licensed seat type allowed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompanyMetaData">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: company specific collection of attributes
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmObject">
				<xs:sequence>
					<xs:element name="ExternalRealmId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: Unique company string assigned by QBN system.
                Product: QBW
                Description: Unique company string assigned by QBN system. Cloud Max Length: 22
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QBNRegisteredCompanyName" type="CompanyNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: QBO
							Description: Name as it appears in the QBN system entered by sign up process.
							Product: QBW 
							Description: Name as it appears in the QBN system entered by sign up process. Cloud Max Length: 1024
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompanySignUpDateTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: DateTime when this COMPANY signed up for QB data sync services
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatestUploadDateTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: DateTime when company data was last uploaded to data sync server
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatestWritebackDateTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: DateTime when company data was last written back to QB desktop
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QBVersion" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: QB company file latest version.
                Product: QBW
                Description: QB company file latest version. The format reports the major release in the first number, the minor release in the second number (always a zero), the release update (slipstream or "R") in the third number, and the build number in the final number.[br/] For example, "21 0 6 4" reports major release 21 (2011), R6, build 4. [br/]Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompanyFileName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: QB company file name on the PC.
                Product: QBW
                Description: QB company file name on the PC. Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlavorStratum" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: QB software flavor being used on the file on the PC.
                Product: QBW
                Description: QB software flavor being used on the file on the PC. Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SampleFile" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: if the QB desktop file is a sample file
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QBNCompanyUserAdminIdNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: IAM or QBN admin users id sequence number to group many external realms for this user under his id number.
                Product: QBW
                Description: IAM or QBN admin users id sequence number to group many external realms for this user under his id number. Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QBNCompanyUserAdminEmail" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: IAM or QBN admin users email.
                Product: QBW
                Description: IAM or QBN admin users email. Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SyncEnabled" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: if company file has been signed up for data sync
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatestForcedSyncDateTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: Latest forced sync dat and time stamp
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SyncEnvironmentName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
                Product: QBO
                Description: Intuit Internal use only: env name for sync as a service ETL feature, required during sign up.
                Product: QBW
                Description: Intuit Internal use only: env name for sync as a service ETL feature, required during sign up. Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Offering" type="Offering" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>							
							Product: ALL
							Description: Many offerings could be associated with each company
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="AddressGroup" minOccurs="0"/>
					<xs:element name="LegalAddress" type="PhysicalAddress" minOccurs="0">
                                                <xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Legal Address currently unsettable from the cloud.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IndustryType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FiscalYearStart" type="xs:int" minOccurs="0">
                                                <xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Fiscal year start is currently unsettable from the cloud.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IncomeTaxYearStart" type="xs:int" minOccurs="0">
                                                <xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Income Tax Year Start is currently unsettable from the cloud.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxForm" type="TaxFormEnum" minOccurs="0">
                                                <xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Tax Form type is currently unsettable from the cloud.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Cloud Max Length: 512
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomField" type="CustomField" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
							Product: ALL
							Description: Specifies the Custom Field (aka Data Extension). As of CDM V2 only the String type is supported.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompaniesMetaData">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: Provides basic meta data information on QB company files and their data sync status
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmCollections">
				<xs:sequence>
					<xs:element name="CompanyMetaData" type="CompanyMetaData" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="offeringId">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: all requestors MUST provide self identifying string. The default value is "ipp".
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ipp"/>
			<xs:enumeration value="cmo"/>
			<xs:enumeration value="esbsync"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="seatType">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: concurrent vs named
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="concurrent"/>
			<xs:enumeration value="named"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompanyNameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxFormEnum">
		<xs:annotation>
			<xs:documentation>			
			Product: QBW
			Description: Describes possible values for the Tax Forms used in the company file
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Form1040"/>
			<xs:enumeration value="Form1065"/>
			<xs:enumeration value="Form1120"/>
			<xs:enumeration value="Form1120S"/>
			<xs:enumeration value="Form990"/>
			<xs:enumeration value="Form990PF"/>
			<xs:enumeration value="Form990T"/>
			<xs:enumeration value="OtherOrNone"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="AddressGroup">
		<xs:annotation>
			<xs:documentation>			
			Product: ALL
			Description: Contact information group of properties. Currently unsettable from the Cloud.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="PhysicalAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Tagged postal addresses
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="TelephoneNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Tagged phone number, possibly include pagers.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="EmailAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Tagged email addresses
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WebSite" type="WebSiteAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>					
					Product: ALL
					Description: Tagged web addresses
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<!--The End.-->
</xs:schema>
