commons/src/main/resources/schema/online/qbo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule QuickBooks Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sb="http://www.intuit.com/sb/cdm/v2" xmlns="http://www.intuit.com/sb/cdm/qbo" targetNamespace="http://www.intuit.com/sb/cdm/qbo" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.intuit.com/sb/cdm/v2" schemaLocation="Finance.xsd"/>
	<xs:import namespace="http://www.intuit.com/sb/cdm/v2" schemaLocation="PartyCdmTypes.xsd"/>
	<xs:import namespace="http://www.intuit.com/sb/cdm/v2" schemaLocation="IntuitCdmBaseTypes.xsd"/>
	<!-- Type definitions -->
	<xs:complexType name="QboCompany">
		<xs:complexContent>
			<xs:extension base="sb:Organization">
				<xs:sequence>
					<xs:element name="UseDefaultChartOfAccounts" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Specifies whether to use the default Chart of Account for the company</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BillingCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Billing code associated with the company</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">User Name associated with the company</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserAuthId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Auth Id of the user (This is NOT the company auth id. Company Auth Id maps to the Id attribute of the base type Organization </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QboCompanyReport">
		<xs:sequence>
			<xs:element name="CompanyInfo" type="QboCompany" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Company info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonInfo" type="sb:Person" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Person information that was used when creating the company</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trial" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Is this usage a trial?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subscription" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Is this usage a subscription?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SKU" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">SKU (Stock Keeping Unit)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Z0NCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Is this usage a subscription?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfLogins" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of logins</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoOfCustomers" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Number of customers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxCustomers" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Maximum limit for number of customers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Company creation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Subscription date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayrollTrial" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Payroll trial?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayrollSubscription" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Payroll subscription?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MASUser" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Is MAS user (subscription or trial)?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QboBulkResult">
		<xs:annotation>
			<xs:documentation>Provides the definition for bulk create entity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="sb:IdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the Id type of the Object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SyncToken" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies the version number of the object for optimistic locking purpose</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Success" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Specifies if the operation is success or failed, true indicates success, false indicate failure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorClass" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Exception class name associated with the failure, valid only if the success is false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ErrorCode associated with the failure, valid only if the success is false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ErrorCause" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ErrorCause associated with the failue, valid only if the success is false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Message Associated with the Bulk object creation, valid only if the success is false</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- XSD Types for Login and Switch Company operations -->
	<xs:complexType name="QboUserCompanyMapping">
		<xs:annotation>
			<xs:documentation>Construct for user and company mapping</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Company Auth Id a.k.a. Parent Id a.k.a. Realm Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClusterId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Cluster number on which the company is available</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompanyName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Company Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseURI" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Base URI for this company</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QboUser">
		<xs:annotation>
			<xs:documentation>Represents a QboUser</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LoginName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Login name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Password" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Password</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ticket" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Authentication ticket</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgentId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Global Company Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentCompany" type="QboUserCompanyMapping" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">QBO User and Company map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserCompanyMap" type="QboUserCompanyMapping" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">QBO User and Company map</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SearchResults">
		<xs:annotation>
			<xs:documentation>Wrapper for search results. It will include one of the plural objects and meta-data about the search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CdmCollections" type="sb:CdmCollections" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">One of the CDM collections (plural) objects</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Count of results in the current page</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentPage" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Total number of pages in the search results</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<!-- Added for the ChangeDataDeleted (Beta) support -->

 	<xs:complexType name="GenericEntity">
	    <xs:annotation>
	        <xs:documentation>Defines the List of Generic entities</xs:documentation>
	    </xs:annotation>
	    <xs:sequence>
	        <xs:element name="Id" type="sb:IdType" minOccurs="0">
	            <xs:annotation>
	                <xs:documentation xml:lang="en">
	                    Defines the ID of the object
	                </xs:documentation>
	            </xs:annotation>
	        </xs:element>
	        <xs:element name="EntityType" type="qboObjectName" minOccurs="0">
	            <xs:annotation>
	                <xs:documentation xml:lang="en">
	                    Defines the EntityType as defined in "objectName" enumeration
	                </xs:documentation>
	            </xs:annotation>
	        </xs:element>
	        <xs:element name="LastUpdatedTime" type="xs:dateTime" minOccurs="0">
	            <xs:annotation>
	                <xs:documentation xml:lang="en">
	                    LastUpdatedTime of the entity
	                </xs:documentation>
	            </xs:annotation>
	        </xs:element>
	    </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeletedEntities">
	    <xs:annotation>
	        <xs:documentation>Provides collection of Generic entities as deleted entities</xs:documentation>
	    </xs:annotation>
	    <xs:complexContent>
	        <xs:extension base="sb:CdmCollections">
	            <xs:sequence>
	                <xs:element name="Entity" type="GenericEntity" minOccurs="0" maxOccurs="unbounded"/>
	            </xs:sequence>
	        </xs:extension>
	    </xs:complexContent>
	</xs:complexType>
	
	
	<!-- The list of object names can be taken from the following enumeration: -->
	
 	<xs:simpleType name="qboObjectName">
	    <xs:annotation>
	        <xs:documentation>
	            Supported QBO object names
	        </xs:documentation>
	    </xs:annotation>
	    <xs:restriction base="xs:string">
	        <xs:enumeration value="Account"/>
	        <xs:enumeration value="Bill"/>
	        <xs:enumeration value="BillPayment"/>
	        <xs:enumeration value="BillPaymentCreditCard"/>
	        <xs:enumeration value="Charge"/>
	        <xs:enumeration value="Check"/>
	        <xs:enumeration value="Class"/>
	        <xs:enumeration value="Company"/>
	        <xs:enumeration value="CreditCardCharge"/>
	        <xs:enumeration value="CreditCardCredit"/>
	        <xs:enumeration value="CreditMemo"/>
	        <xs:enumeration value="Customer"/>
	        <xs:enumeration value="CustomerMsg"/>
	        <xs:enumeration value="CustomerType"/>
	        <xs:enumeration value="Discount"/>
	        <xs:enumeration value="Employee"/>
	        <xs:enumeration value="Estimate"/>
	        <xs:enumeration value="FixedAsset"/>
	        <xs:enumeration value="InventoryAdjustment"/>
	        <xs:enumeration value="Invoice"/>
	        <xs:enumeration value="Item"/>
	        <xs:enumeration value="ItemReceipt"/>
	        <xs:enumeration value="Job"/>
	        <xs:enumeration value="JobType"/>
	        <xs:enumeration value="JournalEntry"/>
	        <xs:enumeration value="OtherName"/>
	        <xs:enumeration value="Payment"/>
	        <xs:enumeration value="PaymentMethod"/>
	        <xs:enumeration value="PayrollItem"/>
	        <xs:enumeration value="Preferences"/>
	        <xs:enumeration value="PurchaseOrder"/>
	        <xs:enumeration value="SalesOrder"/>
	        <xs:enumeration value="SalesReceipt"/>
	        <xs:enumeration value="SalesRep"/>
	        <xs:enumeration value="SalesTax"/>
	        <xs:enumeration value="SalesTaxCode"/>
	        <xs:enumeration value="SalesTaxGroup"/>
	        <xs:enumeration value="SalesTaxPaymentCheck"/>
	        <xs:enumeration value="ShipMethod"/>
	        <xs:enumeration value="TemplateName"/>
	        <xs:enumeration value="Term"/>
	        <xs:enumeration value="TimeActivity"/>
	        <xs:enumeration value="UOM"/>
	        <xs:enumeration value="Vendor"/>
	        <xs:enumeration value="VendorCredit"/>
	        <xs:enumeration value="VendorType"/>
	        <xs:enumeration value="CashPurchase"/>
	        <xs:enumeration value="QboStatementCharge"/>
	    </xs:restriction>
	</xs:simpleType>
			
</xs:schema>
